<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

    <h1>Create Task for Your To Do List</h1>
    <form action="/create/" method="post">
        {% csrf_token %}
        <label>Description:</label><br/>
        <input type="text" name="description"/><br/>
        <label>Status:</label><br/>
        <select name="status" id="">
            {% for s in status_choices%}
                <option value="{{ s.0 }}">{{ s.1 }}</option>
            {% endfor %}
        </select>
        <br/>
        <label>Full description:</label><br/>
        <input type="text" name="full_description"/><br/>
        <br/>
        <label for="deadline">Deadline:</label>
        <input type="date" id="deadline" name="deadline" lang="en">
        <br/>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>